@page "/RawMaterials/edit/{id}"
@using System.ComponentModel.DataAnnotations
@using FrontEnd.Models
@using FrontEnd.Enums
@inject HttpClient httpClient
@inject MudBlazor.ISnackbar Snackbar
@inject NavigationManager NavigationManager

<h3>Editar Produto</h3>

<EditForm Model="@novaMateria" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Id" HelperText="Código do fornecedor"
                                  @bind-Value="novaMateria.SupplierId" For="@(() => novaMateria.SupplierId)" />
                    <MudTextField Label="Nome" HelperText="Min. 4 caracteres"
                                  @bind-Value="novaMateria.Name" For="@(() => novaMateria.Name)" />
                    <MudTextField Label="Descrição" Class="mt-3"
                                  @bind-Value="novaMateria.Description" For="@(() => novaMateria.Description)" />
                    <MudTextField Label="Quantidade" HelperText="Adicione uma quantidade dessa matéria prima" Class="mt-3"
                                  @bind-Value="novaMateria.Amount" For="@(() => novaMateria.Amount)" InputType="InputType.Number" />

                    <MudSelect T="UoM" Label="Unidade de Medida" @bind-Value="novaMateria.UoM" Class="mt-3">
                        @foreach (UoM unit in Enum.GetValues(typeof(UoM)))
                        {
                            <MudSelectItem T="UoM" Value="unit">@unit.ToString()</MudSelectItem>
                        }
                    </MudSelect>

                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Atualizar</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="5">
            <MudPaper Class="pa-4 mud-height-full">
                <MudDatePicker Label="Data de validade" Editable="true" @bind-Date="novaMateria.Expiration" Placeholder="Selecione a data de validade" />
                <MudText Typo="Typo.subtitle2">Resumo de Validação</MudText>
                @if (success)
                {
                    <MudText Color="Color.Success">Produto atualizado com sucesso!</MudText>
                }
                else if (error)
                {
                    <MudText Color="Color.Error">Ocorreu um erro ao atualizar o produto.</MudText>
                }
                else
                {
                    <MudText Color="Color.Error">
                        <ValidationSummary />
                    </MudText>
                }
            </MudPaper>
        </MudItem>
    </MudGrid>

</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }  // Alterado para string

    RawMaterial novaMateria = new RawMaterial();

    bool success;
    bool error;

    protected override async Task OnInitializedAsync()
    {
        // Convertendo o Id para int antes de usar
        if (int.TryParse(Id, out int idInt))
        {
            // Carregar os dados da matéria-prima a partir do servidor usando o ID
            var response = await httpClient.GetFromJsonAsync<RawMaterial>($"https://localhost:7008/api/RawMaterials/{idInt}");

            if (response != null)
            {
                novaMateria = response;
                Snackbar.Add("Materia prima editada com sucesso!", MudBlazor.Severity.Success);
            }
            else
            {
                error = true;
                Snackbar.Add("Erro ao editar materia prima com sucesso!", MudBlazor.Severity.Success);
            }
        }
        else
        {
            error = true; // Caso a conversão falhe
        }
    }

    private async Task OnValidSubmit(EditContext context)
    {
        success = false;
        error = false;

        try
        {
            var response = await httpClient.PutAsJsonAsync($"https://localhost:7008/api/RawMaterials/{novaMateria.Id}", novaMateria);

            if (response.IsSuccessStatusCode)
            {
                Snackbar.Add("Materia prima adicionada com sucesso!", MudBlazor.Severity.Success);
                success = true;
            }
            else
            {
                error = true;
                Snackbar.Add("Erro ao editar materia prima!", MudBlazor.Severity.Error);
            }
        }
        catch (Exception)
        {
            error = true;
        }

        StateHasChanged();
    }
}
